__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/


# Django
db.sqlite3
*.log
*.pot
*.pyc
*.db
*.db-journal

.venv/
venv/
ENV/
env/
*.env

.idea/

.vscode/

.ipynb_checkpoints/

*/migrations/
!*/migrations/__init__.py
